@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

img.pq{
    max-width: 500px;
}

:root{
    --cor1: #18036B;
    --cor2: #6E4FEE;
    --cor3: #3507EB;
    --cor4: #32236B;
    --cor5: #2906B8;
}

header{
    background-color: var(--cor2);
    padding-top: 40px;
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1) );
}

header > h1{
    color: white;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.329);
}

header > h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.329);
    padding-bottom: 40px;
}

nav{
    color: white;
    text-align: start;
}

nav > a{
    color: white;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav > a:hover{
    background-color: var(--cor2);
    color: white;
}

main{
    padding-left: 10px;
    padding-top: 15px;
    text-indent: 20px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

h3{
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

article > a{
    color: white;
}

a.links{
     color: var(--cor5);
     text-decoration: none;
     padding: 5px;
}

a.links:hover{
    color: var(--cor4);
}